      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
        <div class="my-auto">
          <h2 class="mb-5">Contact Me!</h2>

          <form>
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">Must be format: email@domain.com</small>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="text" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" disabled>
              <label class="form-check-label" for="exampleCheck1">I must be checked!</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </section>
