      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
	<% data.experience.job.each do |j| %>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><%= j.position %></h3>
              <div class="subheading mb-3"><%= j.company %></div>
              <ul>
              <% j.duties.each do |i| %>
                <li><%= i %></li>
              <% end %>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"><%= j.employed_date %></span>
            </div>
          </div>
    <% end %>



        </div>

      </section>
