---
title: Kristin Niemeir
---

      <%= partial "partials/nav" %>

    <div class="container-fluid p-0">

      <%= partial "partials/about" %>
      <%= partial "partials/experience" %>
      <%= partial "partials/education" %>
      <%= partial "partials/contact" %>

    </div>
      <%= partial "partials/js" %>

